.giftResults{
    margin: 0 -5px;
}

.giftResults:after{
  content: "";
  display: table;
  clear: both;
}

.error{
    color: red;
}

.giftResult{
 float: left;
  width: 25%;
  padding: 0 10px;
}

.gift-container{
    width: 940px;
    max-width: 100%;
    min-width: 768px;
    margin: 0 auto;
    padding: 0 0;
    padding-bottom: 3em;}

.card{
    background-color: #e5474b;
    display: inline-block;
    /* width: 25%; */
    height: 50%;
    margin-top: 30px;
    width: 33.33333%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
}

.card a {
    display: block;
}

.card h2 {
    padding-bottom: 25px;
    font-size: 20px;
    height: 35px;
}

.card:hover{
   height: 55%;
   width: 39%;
}

@media screen and (max-width: 600px) {
  .giftResult {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .card{
    background-color: #e5474b;
    max-width: 400px;
    display: block;
    height: 50%;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    width: fit-content;
  }
}