
nav {
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  font-weight: 700;
  font-size: 15px;
}

nav a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    border: 3px solid transparent;
    color: #e5474b;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    padding: 11.6666666667px 23.3333333333px;
    border: 2px solid #e5474b;
}

nav li {
    -webkit-transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    display: inline-block;
    vertical-align: middle;
    width: 19%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

button.addRecipients {
    margin-top: 100px;
}

li > a {
  color: white;
}

a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

a:hover {
  color:#e5474b;
}

nav h1 {
  display: block;
  font-weight: normal;
  font-family: 'Permanent Marker';
  float: right;
}

 #nav-large-menu {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 30px;
    
  }


@media only screen and (min-width: 480px) {


  #nav-large-menu {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10;
    top: 50px;    
    left: 0;
    right: 0;
    bottom: 50px;
    height:60px;
  }
  
  .nav-large-menu-items {
    display: block;
    font-size: 15px;
    text-align: center;
    border:2px solid transparent;
  }
  .nav-large-menu-items:hover {
    color: white;
    background: #e5474b;
    cursor: pointer;
  }

  nav h1 {
    color: black;
    float: left;
    font-size: 2.2rem;
    margin-top: 0.3rem;
    margin-left: 100px;
  }

}

@media only screen and (min-width: 768px) {
  nav h1 {
    font-size: 2.6rem;
    margin-top: 0.2rem;
  }

  .nav-large-menu-items {
    display: block; 
    background: none;
    font-size: 15px;
    display: flex;
    flex-direction: row;
  }
  
}
