.recipientCard {
    margin: 10px auto;
    box-shadow: 6px 7px 10px #888888;
    min-height: 150px;
    padding: 20px 15px;
    background: #121212;
    max-width: 500px;
    /* display: inline-block; */
}
.recipientCardHeader {
  margin-bottom: 15px;
}

.recipientCard p {
  text-align: left;
  color: white;
}

ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

.fa {
  margin-left: 20px;
  color: white;
}

i:hover{
    color: #ff6860;
    font-size: 20px;
}
.recipient-field-title {
  color: #ff6860;
  text-decoration-line: underline;
}

.icons {
  float: right;
  margin-right: 5px;
}

.card-title {
  float: center;
  color: white;
  font-size: 24px;
  text-decoration-line: underline;
  font-family: 'Roboto';
}

@media only screen and  (max-width: 650px){
  .recipientCard {
    max-width: 250px;
}
}