.recipientCard {
  margin: 10px auto;
  box-shadow: 6px 7px 10px #888888;
  min-height: 150px;
  padding: 20px 15px;
  background: radial-gradient(ellipse at bottom, #202c3b 0%, #181c25 100%);
  max-width: 800px;
}

.recipientCard:hover{
  background: radial-gradient(ellipse at bottom, #2b3541 0%, #1c1f25 100%);
  font-size: 18px;
}
.recipientCardHeader {
  margin-bottom: 15px;
}

.recipientCard p {
  text-align: left;
  color: white;
}

ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

.fa {
  margin-left: 20px;
  color: white;
}

i:hover{
    color: #ff6860;
    font-size: 20px;
}
.recipient-field-title {
  color: #ff6860;
  text-decoration-line: underline;
}

.icons {
  float: right;
  margin-right: 5px;
  /* background-color: white; */
}

.card-title {
  float: center;
  color: white;
  font-size: 24px;
  text-decoration-line: underline;
  font-family: 'Roboto';
}

